body, html {
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100%;
    background-image: url(../img/back.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

#question, .options {
    min-width: 770px;
}

.options {
    height: 80%;
}

#statementlist, #partylist {
    size: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}

.btn {
    min-width: 160px;
}